
.item-image-section {
    position: relative;
}

.item-image-section img{
    width: 100%;
}

.item-image-section button {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.product-item-header {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: normal;
}

.product-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item-price {
    font-weight: bold;
}

.favorites-icon {
    background-color: transparent;
    border: none;
}

.favorites-icon svg:hover {
    fill: red;
}