.type-navigation {
  margin-top: 0.7rem;
}

.type-navigation ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  margin-top: 0;
}

.type-navigation li {
  padding-right: 1rem;
  min-width: 4rem;
}

.type-navigation li a {
  font-size: 1rem;
  text-decoration: none;
  color: rgb(108, 108, 108);
  border-bottom: 1px solid transparent;
  font-weight: 300;
}

.type-navigation li a:hover,
.type-navigation li a.active {
  border-bottom: 1px solid rgb(108, 108, 108);
}
