.products-navigation {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.sort-products {
    display: flex;
    justify-content: flex-start;
}