.products-navigation {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.sort-products {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sort-products select {
  font-family: "Oswald", sans-serif;
  border: none;
  font-size: 1rem;
  font-weight: 200;
  color: grey;
  padding: 0 1rem .2rem 1rem;
  outline: none;
  margin-right: 3rem;
}

.sort-products option {
    font-weight: 200;
}

.grid {
    display: flex;
    align-items: center;
    padding-top: .2rem;
}

.grid button {
    background-color: transparent;
    border: none;
}