.checkoutNavigation {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.checkoutNavigation > ul {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
