.checkoutInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  .formsSection {
    width: 100%;
    border-bottom: 1px solid var(--grey-color);
    padding-bottom: 2rem;
  }
  .checkout {
    flex-direction: column;
  }
}
