.accordionItem {
  list-style: none;
  border-top: 1px solid black;
}

.accordionItem h3 {
  font-weight: 400;
}

.accordionItem h3:hover {
  color: var(--main-color);
}

.accordionItem p {
  font-weight: 300;
}

.open {
  display: block;
}

.close {
  display: none;
}

.active {
    color: var(--main-color);
  }
