.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.formInput input {
  line-height: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  outline: none;
  border: 1px solid var(--grey-color);
}

.error input {
  border: 1px solid var(--main-color);
}

.error span {
  display: block;
  width: 100%;
  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: 300;
}

.disabled {
  display: none;
}
