.favorites-icon {
  background-color: transparent;
  border: none;
}

.favorites-icon-details {
  background-color: transparent;
  border: none;
}

.favorites-icon svg:hover {
  fill: var(--main-color);
}
