.bage {
    width: 1rem;
    height: 1rem;
    border-radius: .5rem;
    background-color: var(--main-color);
    color: white;
    position: absolute;
    right: -0.2rem;
    top: -0.2rem;
}