.logo {
  text-transform: uppercase;
}

.logo a {
  text-decoration: none;
}

.logo a h1 {
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: rgb(245, 11, 7);
}

.logo a:hover h1 {
  color: black;
}

@media(max-width: 660px) {
  .logo a h1 {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}
