.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo {
  text-transform: uppercase;
}

.logo h1 {
    font-weight: 500;
}
