.button {
  width: 100%;
  line-height: 2rem;
  background-color: transparent;
  border: 2px solid rgb(245, 11, 7);
  color: rgb(245, 11, 7);
  font-weight: 400;
  margin-bottom: 2rem;
}

.button:hover,
.button:active {
  background-color: rgb(245, 11, 7);
  color: white;
}
