.button {
  width: 100%;
  line-height: 2rem;
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-weight: 400;
  margin-bottom: 2rem;
}

.button:hover,
.button:active {
  background-color: var(--main-color);
  color: white;
}
