
.color {
    border: none;
    padding: 0;
    margin: 1.5rem 0;
}

.color legend {
    margin-bottom: .5rem;
}

.color input {
    display: none;
}
 
.color label{
    padding-left: .75rem;
    padding-right: .75rem;
    border-radius: 1rem;
    margin-right: .5rem;
    border: 3px solid transparent;
}

.color input:checked+label {
    border: 3px solid var(--main-color);
}
