.infoSection h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 2rem;
}

.infoItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;
}

.infoItem {
  background-color: rgb(230, 228, 228);
  padding: 1rem;
  text-align: center;
  font-weight: 200;
}

.infoItem h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

@media (max-width: 1180px) {
  .infoItems {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .infoSection {
    width: 100%;
  }
  .infoItem {
    padding-bottom: 2rem;
  }
  .infoItem p {
    display: none;
  }
}

@media (max-width: 600px) {
  .infoItems {
    grid-template-columns: 1fr;
  }
  .infoItem {
    padding-top: 0;
    padding-bottom: 1rem;
  }
}
