.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem 3rem 3rem;
  margin-top: auto;
  background-color: var(--grey-color);
  width: 100%;
}

