html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Oswald", sans-serif;
}

body.modal {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}