:root {
  --main-color: rgb(245, 11, 7);
  --grey-color: rgb(244, 244, 244);
  --dark-grey-color: rgb(108, 108, 108);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Oswald", sans-serif;
}

body.modal {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}
