.cta {
    display: flex;
    justify-content: flex-end;
  }
  
  .cta a {
    color: rgb(245, 11, 7);
    text-decoration: none;
    font-weight: 400;
    border: 1px solid rgb(245, 11, 7);
    padding: .5rem 2rem;
  }
  
  .cta a:hover,
  .cta a:active {
    background-color: rgb(245, 11, 7);
    color: white;
  }