.cta {
  display: flex;
  justify-content: flex-end;
}

.cta .typ1,
.cta .typ2 {
  text-decoration: none;
  font-weight: 400;
  border: 1px solid rgb(245, 11, 7);
  padding: 0.5rem 2rem;
  text-align: center;
}

.cta .typ1 {
  color: rgb(245, 11, 7);
}

.cta .typ2 {
  background-color: rgb(245, 11, 7);
  color: white;
  width: 8rem;
}

.cta .typ1:hover,
.cta .typ1:active {
  background-color: rgb(245, 11, 7);
  color: white;
}
