
.divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .divider span:first-of-type,
  .divider span:last-of-type {
    width: 45%;
    border-bottom: 1px solid rgb(208, 208, 208);
  }
  