.headerType1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: left;
    margin-top: 0;
}

.headerType2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
}