.modal {
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  min-height: 100%;
  width: 30%;
  min-width: 25rem;
  border: none;
  margin: 0;
  background-color: rgb(245, 243, 243);
  display: flex;
  flex-direction: column;
  padding: .5rem 1.5rem;
}

body.modal {
    height: 100vh;
    overflow-y: hidden;
  }

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

@media (max-width: 600px) {
  .modal {
    min-width: 100%;
  }
}
