.content {
  text-align: center;
  margin-top: 4rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.content h1 {
  text-transform: uppercase;
  font-weight: 400;
}

.content p {
  font-weight: 200;
}

@media (max-width: 1050px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .content {
    width: 90%;
  }
}
