.pageTitle {
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
  margin-bottom: 2rem;
}

@media (max-width: 1050px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .content {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .content {
    display: none;
  }

  .pageTitle {
    margin-bottom: .5rem;
  }
}
