.textButton {
  background-color: transparent;
  border: 1px solid var(--main-color);
  padding: 1rem;
  color: var(--main-color);
  min-width: 8rem;
}

.textButton:hover {
  background-color: var(--main-color);
  color: white;
}

.type2 {
  background-color: var(--main-color);
  color: white;
}

.type2:hover {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
